<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.1.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd
          http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-1.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
">

    <bean id="allyCommander" class="md.orange.academy.armies.soldier.AllyCommander">
        <property name = "name" value = "Ally Commander Name"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    <bean id="allyDragon" class="md.orange.academy.armies.soldier.AllyDragon">
        <property name = "name" value = "Ally Dragon Name"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    <bean id="allyMage" class="md.orange.academy.armies.soldier.AllyMage">
        <property name = "name" value = "Ally Mage Name"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    <bean id="allySoldier" class="md.orange.academy.armies.soldier.AllySoldier">
        <property name = "name" value = "Ally Soldier Name"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    <bean id="enemyCommander" class="md.orange.academy.armies.soldier.EnemyCommander">
        <property name = "name" value = "Enemy Commander"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    <bean id="enemyDragon" class="md.orange.academy.armies.soldier.EnemyDragon">
        <property name = "name" value = "Enemy Dragon"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    
    <bean id="enemySoldier" class="md.orange.academy.armies.soldier.EnemySoldier">
        <property name = "name" value = "Enemy Soldier"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    <bean id="enemyWitch" class="md.orange.academy.armies.soldier.EnemyWitch">
        <property name = "name" value = "Enemy Witch"/>
        <property name = "health" value = "1"/>
        <property name = "categories" value = "2"/>
        <property name = "currentProgress" value = "3"/>
        <property name = "level" value = "4"/>
        <property name="race">
            <ref local="race"/>
        </property>
    </bean>
    
    <bean id="race" class="md.orange.academy.armies.soldier.entity.Race">
        <property name = "name" value = "Race Name"/>
        <property name = "description" value = "Race Description"/>
    </bean>
    
</beans>
